*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;

}

.container{
    height: 100%;
    width: 100%;
    background-color: #D3D3D3; 
    
   
   
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   padding: 70px;
   

    /* background-color: aqua; */
    h1{
        cursor: pointer;
        color: #645a1f;
        font-size: 4rem;
        padding-bottom: 1rem;
    }
    h3{
        font-size: 2rem;
        span{
            color: rgb(157, 127, 88);
        }
    }
}


.search{
    scale: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;

 .search-input{
    width: 28rem;
    height: 2.5rem;
    border-radius: 12px;
    border: 2px solid black;
    color: black;
    background: #00000073;
    font-size: 20px;
    align-content: center;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;

 }
 .icon{
    margin: 0 4px;
    cursor: pointer;
 }
}


.main{
   
    scale: 0;

   
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3a3a80;
    height: 60%;
    margin-top: 2rem;
   margin-left: 19rem;
   margin-right: 19rem;
   border-radius: 50%;
   padding: 5rem 2rem;

.temp{
    display: flex;

    h1{
        color: rgb(53, 182, 38);
    }

    .data-temp{
        margin-top: 13px;
        margin-left: 2rem;
        font-size: 30px;
      
    }

    

  
   
}
.city{
    display: flex;
    h1{
        color: rgb(53, 182, 38);
    }

    .data-city{
        margin-top: 13px;
        margin-left: 9.5rem;
        font-size: 30px;
    }
}

.wind{
    h1{
        color: rgb(53, 182, 38);
    }
    display: flex;
    .data-wind{
       font-size: 30px;
        margin-top: 13px;
        margin-left: 8.5rem;
    }

}

}



/* main page */
.active{


scale: 0;


}

.main-page{
    
    opacity: 1;
    scale: 1;
}


.buttons{
    
    .button-container{
        display: flex;
        justify-content: center;
        align-items: center;
        
        margin-top: 1rem;
     
        
 
    }

    .your-weather{
        position: relative;
        padding: 1rem;
        margin: 1rem 17rem;
        cursor: pointer;
        border-radius: 10px;
        &:hover{
            background-color: rgb(186, 134, 134);
        }
    }
    .search-weather{
        padding: 1rem;
        margin: 1rem 17rem;
        cursor: pointer;
        border-radius: 10px;
        &:hover{
            background-color: rgb(186, 134, 134);
        }

    }
}






/* media query */
/* Your existing styles */
/* 
@media(max-width: 600px) {
   .container{
    background-color: yellow;
    height: auto;
    width: auto;
   }
   .buttons{
    
    
   }
   .button-container{
    background-color: red;
    

   }
   .your-weather{
    background-color: blue;

    margin-left: 35rem;
    margin-right: -2rem;
   }
   .search-weather{
    background-color: chocolate;
    margin-left: -1rem;
   }
} */